---
- name: set default Maven
  become: yes
  intellij_set_default_maven:
    intellij_user_dir: '{{ intellij_user_dir }}'
    maven_home: '{{ intellij_default_maven_home }}'
    owner: '{{ user.username }}'
    group: '{{ user.intellij_group | default(user.username) }}'
  with_items: '{{ users }}'
  loop_control:
    loop_var: user
    label: '{{ user.username }}'
  when: "intellij_default_maven_home is defined and intellij_default_maven_home not in (None, '', omit)"

- name: set default JDK
  become: yes
  intellij_set_default_jdk:
    intellij_user_dir: '{{ intellij_user_dir }}'
    jdk_name: '{{ user.intellij_default_jdk }}'
    owner: '{{ user.username }}'
    group: '{{ user.intellij_group | default(user.username) }}'
  with_items: '{{ users }}'
  loop_control:
    loop_var: user
    label: '{{ user.username }}'
  when:
    - user.intellij_default_jdk is defined
    - user.intellij_default_jdk not in (None, '', omit)
    - user.intellij_jdks is defined
    - user.intellij_jdks not in ([], None, '', omit)
