{{ ansible_managed | comment }}

[general]
home={{ intellij_install_dir }}
desktop_filename={{ intellij_desktop_filename }}
desktop_file=/usr/share/applications/{{ intellij_desktop_filename }}
user_dirname={{ intellij_user_dir }}
